.marsk{
    background: rgba(0,0,0,.3);
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}
.modal{
    width: 500px;
    height: 300px;
    border-radius: 2px;
    background: #fff;
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.modal header{
    padding: 10px 20px;
    display: flex;
    border-bottom: 1px solid #eee;
}
.modal header .close{

}
.container{
    padding: 20px;
}
